@use 'sass:color';
@import 'styles/variables';

.buttonSelectGroup {
  .option {
    cursor: pointer;
    display: inline-block;
    color: color.scale($gray-medium, $lightness: 20%);
    background-color: #ffffff;
    padding: 0.75rem 1rem;
    border: 2px solid transparent;
    border-radius: 2px;
    margin-right: 1rem;
    font-size: 1.05rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 0 1rem rgba($gray-dark, 6%);
    }

    &.selected {
      color: $gray-dark;
      border-color: $gray-dark;
    }
  }
}
