@import 'styles/variables';

.buttonSelectGroup {
  .option {
    cursor: pointer;
    display: inline-block;
    background-color: #ffffff;
    padding: 0.75rem 1rem;
    box-shadow: 0 1px 0 0 #d4d8de;
    border-radius: 2px;
    margin-right: 1rem;
    font-size: 1.1rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 1px 0 0 $gray-medium;
    }

    &.selected {
      color: white;
      background-color: $gray-medium;
    }
  }
}
