@import 'styles/variables';
@import 'styles/mixins';

.builtBySection {
  padding: 120px 0;
  background-color: $gray-dark;

  .subheading {
    color: $gray;
  }

  h3 {
    color: $gray-light;
    margin-top: 1rem;
  }

  p {
    color: $gray;
    margin-top: 2rem;
    line-height: 1.8;
  }

  .people {
    margin-top: 2rem;

    .names {
      font-weight: bold;
    }
  }

  .linkUnderline {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: $gray-ultra-light;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 2px;
      left: 0;
      z-index: 0;
      background-color: $lime-light;
      border-radius: 4px;
    }

    &:hover {
      color: $lime;

      &:before {
        background-color: $lime;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .builtBySection {
    padding: 40px 0;

    .textContent {
      margin-top: 40px;
    }

    .imageWrapper {
      margin-top: 40px;
    }
  }
}
