@use 'sass:color';
@import 'styles/variables';
@import 'styles/mixins';

.heroSection {
  background-color: #326dc9;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;

  .doodleBackground {
    width: 100rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;

    .doodleWrapper {
      width: 100rem;
      height: 50rem;
    }
  }

  .heroText {
    font-size: 2.67rem;
    line-height: 1.5;
    color: white;
  }

  .heroContent {
    padding: 15rem;
  }

  .heroActions {
    margin-top: 3rem;
  }
}

@include media-breakpoint-down(md) {
  .heroSection {
    .doodleBackground {
      width: 75rem;

      .doodleWrapper {
        width: 75rem;
        height: 37.5rem;
      }
    }

    .heroContent {
      padding: 10rem;
    }

    .heroText {
      font-size: 2.2rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .heroSection {
    .doodleBackground {
      width: 50rem;

      .doodleWrapper {
        width: 50rem;
        height: 25rem;
      }
    }

    .heroContent {
      padding: 7.5rem;
    }

    .hero-text {
      font-size: 1.4rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .heroSection {
    .heroContent {
      padding: 4rem;
    }
  }
}
