@import 'styles/mixins';
@import 'styles/variables';

.headerSection {
  padding: 1rem 0;
  background-color: white;
  position: relative;
  overflow: visible;
  z-index: 1100;

  .logoImageWrapper {
    display: inline-block;
    margin-top: 0.25rem;
  }

  ul.pageNavigation {
    display: inline-block;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 0.75rem 1.25rem;
        font-size: 1.1rem;
      }
    }
  }

  .actionBtn {
    display: inline-block;
    color: $gray-dark;
    padding: 0.2rem 0 0.2rem 0;
    border-bottom: 3px solid $pink;
    font-size: 1.15rem;

    &:hover {
      color: $pink;
      border-color: $pink;
    }
  }

  .mobileMenu {
    position: absolute;
    top: 99px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    background-color: white;

    ul.pageNavigation {
      li {
        display: block;
        text-align: center;
        margin: 0.2rem 0;

        a {
          display: inline-block;
          padding: 0.75rem 1.25rem;
          font-size: 1.1rem;
        }
      }
    }

    .actionBtnWrapper {
      display: inline-block;
      margin-top: 1rem;
    }
  }

  .menuBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@include media-breakpoint-down(md) {
  .headerSection {
    ul.pageNavigation {
      li {
        a {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .headerSection {
    .logoImageWrapper {
      img {
        display: inline-block;
        margin-top: 4px;
        width: 40px;
      }
    }
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
