@import 'styles/mixins';
@import 'styles/variables';

.headerSection {
  padding: 1rem 0;
  position: relative;
  overflow: visible;
  z-index: 1;

  .logoImageWrapper {
    display: inline-block;
    margin-top: 0.25rem;
  }

  ul.pageNavigation {
    display: inline-block;

    li {
      display: inline-block;
      padding: 0.75rem 1.25rem;
      font-size: 1.15rem;
    }
  }

  .actionBtn {
    color: $gray-dark;
    padding: 0.4rem 0 0.4rem 0;
    border-bottom: 3px solid $lime-medium;
    font-size: 1.15rem;

    &:hover {
      color: $lime-medium;
    }
  }
}

@include media-breakpoint-down(md) {
  .headerSection {
    ul.pageNavigation {
      li {
        padding: 12px 14px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .headerSection {
    .logoImageWrapper {
      img {
        display: inline-block;
        margin-top: 4px;
        width: 40px;
      }
    }

    ul.pageNavigation {
      display: none;
    }
  }
}
