@use 'sass:color';
@import './variables';
@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');
@import './bootstrap.custom';
@import '~bootstrap/scss/bootstrap-grid';
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: $font-sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: $font-sans-serif;
  }
}

body {
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: -0.03rem;
}

a {
}
