@use 'sass:color';
@import './variables';
@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');
@import url('https://use.typekit.net/nws2bge.css');
@import './bootstrap.custom';
@import '~bootstrap/scss/bootstrap-grid';

html {
  scroll-behavior: smooth;
}

body {
  color: $gray-medium;
  font-family: $font-sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $gray-medium;

  &:hover {
    color: $gray-dark;
  }
}

h3,
h4 {
  color: $gray-dark;
  font-size: 2.33rem;
  line-height: 1.3;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  color: $gray-dark;
  background-color: $lime;

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: color.scale($lime, $lightness: 20%);
  }
}

@include media-breakpoint-down(sm) {
  .container.container-fluid-on-mobile {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
