@use 'sass:color';
@import './variables';
@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');
@import './bootstrap.custom';
@import '~bootstrap/scss/bootstrap-grid';

/* TODO: purchase Avenir Light webfont license */
@font-face {
  font-family: 'Avenir Light';
  src: url('/fonts/avenir-light-webfont.woff2');
}

body {
  font-family: $font-sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $gray-medium;

  &:hover {
    color: $gray-dark;
  }
}

h3,
h4 {
  color: $gray-dark;
  font-size: 2.33rem;
  line-height: 1.3;
}

@include media-breakpoint-down(sm) {
  .container.container-fluid-on-mobile {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
